{
  "smithy": "2.0",
  "metadata": {
      "validators": [
          {
              "configuration": {
                  "selector": "    operation :not([trait|com.aws#async])\n"
              },
              "id": "MissingAsyncTrait",
              "message": "Operation is missing @async trait",
              "name": "EmitEachSelector"
          },
          {
              "configuration": {
                  "selector": "    service :not([trait|com.aws#websocketJson])\n"
              },
              "id": "MissingWebSocketProtocolTrait",
              "message": "Service is missing @websocketJson trait",
              "name": "EmitEachSelector"
          },
          {
              "configuration": {
                  "selector": "    operation -[output]->\n"
              },
              "id": "OperationMayNotHaveOutput",
              "message": "Async operations must have no output",
              "name": "EmitEachSelector"
          },
          {
              "configuration": {
                  "selector": "    operation :not(-[input]->)\n"
              },
              "id": "OperationMustHaveInput",
              "message": "Async operations must define an input",
              "name": "EmitEachSelector"
          },
          {
              "configuration": {
                  "selector": "  operation\n  [@trait|com.aws#async: @{direction} = server_to_client]\n  [trait|com.aws#handler]\n"
              },
              "id": "HandlerTraitNotPermittedForServerToClient",
              "message": "The @handler trait cannot be applied to an @async operation with direction server_to_client",
              "name": "EmitEachSelector"
          },
          {
              "configuration": {
                  "bindToTrait": "com.aws#connectHandler",
                  "messageTemplate": "    @{trait|com.aws#connectHandler|language} is not supported by type-safe-api.\n    Supported languages are \"typescript\", \"java\" and \"python\".\n",
                  "selector": "    :not([@trait|com.aws#connectHandler: @{language} = typescript, java, python])\n"
              },
              "id": "SupportedLanguage_connectHandler",
              "name": "EmitEachSelector"
          },
          {
              "configuration": {
                  "bindToTrait": "com.aws#connectHandler",
                  "messageTemplate": "    @@handler language @{trait|com.aws#connectHandler|language} cannot be referenced unless a handler project is configured for this language.\n    Configured handler project languages are: typescript.\n    You can add this language by configuring TypeSafeApiProject in your .projenrc\n",
                  "selector": "    [@trait|com.aws#connectHandler: @{language} = typescript, java, python]\n    :not([@trait|com.aws#connectHandler: @{language} = typescript])\n"
              },
              "id": "ConfiguredHandlerProject_connectHandler",
              "name": "EmitEachSelector"
          },
          {
              "configuration": {
                  "bindToTrait": "com.aws#disconnectHandler",
                  "messageTemplate": "    @{trait|com.aws#disconnectHandler|language} is not supported by type-safe-api.\n    Supported languages are \"typescript\", \"java\" and \"python\".\n",
                  "selector": "    :not([@trait|com.aws#disconnectHandler: @{language} = typescript, java, python])\n"
              },
              "id": "SupportedLanguage_disconnectHandler",
              "name": "EmitEachSelector"
          },
          {
              "configuration": {
                  "bindToTrait": "com.aws#disconnectHandler",
                  "messageTemplate": "    @@handler language @{trait|com.aws#disconnectHandler|language} cannot be referenced unless a handler project is configured for this language.\n    Configured handler project languages are: typescript.\n    You can add this language by configuring TypeSafeApiProject in your .projenrc\n",
                  "selector": "    [@trait|com.aws#disconnectHandler: @{language} = typescript, java, python]\n    :not([@trait|com.aws#disconnectHandler: @{language} = typescript])\n"
              },
              "id": "ConfiguredHandlerProject_disconnectHandler",
              "name": "EmitEachSelector"
          },
          {
              "configuration": {
                  "bindToTrait": "com.aws#handler",
                  "messageTemplate": "    @{trait|com.aws#handler|language} is not supported by type-safe-api.\n    Supported languages are \"typescript\", \"java\" and \"python\".\n",
                  "selector": "    :not([@trait|com.aws#handler: @{language} = typescript, java, python])\n"
              },
              "id": "SupportedLanguage_handler",
              "name": "EmitEachSelector"
          },
          {
              "configuration": {
                  "bindToTrait": "com.aws#handler",
                  "messageTemplate": "    @@handler language @{trait|com.aws#handler|language} cannot be referenced unless a handler project is configured for this language.\n    Configured handler project languages are: typescript.\n    You can add this language by configuring TypeSafeApiProject in your .projenrc\n",
                  "selector": "    [@trait|com.aws#handler: @{language} = typescript, java, python]\n    :not([@trait|com.aws#handler: @{language} = typescript])\n"
              },
              "id": "ConfiguredHandlerProject_handler",
              "name": "EmitEachSelector"
          }
      ]
  },
  "shapes": {
      "com.aws#AsyncDirection": {
          "type": "enum",
          "members": {
              "CLIENT_TO_SERVER": {
                  "target": "smithy.api#Unit",
                  "traits": {
                      "smithy.api#enumValue": "client_to_server"
                  }
              },
              "SERVER_TO_CLIENT": {
                  "target": "smithy.api#Unit",
                  "traits": {
                      "smithy.api#enumValue": "server_to_client"
                  }
              },
              "BIDIRECTIONAL": {
                  "target": "smithy.api#Unit",
                  "traits": {
                      "smithy.api#enumValue": "bidirectional"
                  }
              }
          }
      },
      "com.aws#Bar": {
          "type": "structure",
          "members": {
              "blip": {
                  "target": "smithy.api#String"
              }
          }
      },
      "com.aws#Foo": {
          "type": "structure",
          "members": {
              "baz": {
                  "target": "smithy.api#Integer"
              },
              "bar": {
                  "target": "com.aws#Bar"
              }
          }
      },
      "com.aws#MyService": {
          "type": "service",
          "version": "1.0",
          "operations": [
              {
                  "target": "com.aws#Recursive"
              },
              {
                  "target": "com.aws#SendNotification"
              },
              {
                  "target": "com.aws#SubscribeToNotifications"
              }
          ],
          "traits": {
              "aws.protocols#restJson1": {},
              "com.aws#connectHandler": {
                  "language": "typescript"
              },
              "com.aws#disconnectHandler": {
                  "language": "typescript"
              },
              "com.aws#websocketJson": {},
              "smithy.api#documentation": "A sample smithy websocket api"
          }
      },
      "com.aws#Node": {
          "type": "structure",
          "members": {
              "value": {
                  "target": "smithy.api#String",
                  "traits": {
                      "smithy.api#required": {}
                  }
              },
              "left": {
                  "target": "com.aws#Node"
              },
              "right": {
                  "target": "com.aws#Node"
              }
          }
      },
      "com.aws#Recursive": {
          "type": "operation",
          "input": {
              "target": "com.aws#RecursiveInput"
          },
          "output": {
              "target": "smithy.api#Unit"
          },
          "traits": {
              "com.aws#async": {
                  "direction": "bidirectional"
              },
              "smithy.api#http": {
                  "method": "POST",
                  "uri": "/Recursive",
                  "code": 200
              }
          }
      },
      "com.aws#RecursiveInput": {
          "type": "structure",
          "members": {
              "root": {
                  "target": "com.aws#Node"
              }
          },
          "traits": {
              "smithy.api#input": {}
          }
      },
      "com.aws#SendNotification": {
          "type": "operation",
          "input": {
              "target": "com.aws#SendNotificationInput"
          },
          "output": {
              "target": "smithy.api#Unit"
          },
          "traits": {
              "com.aws#async": {
                  "direction": "server_to_client"
              },
              "smithy.api#http": {
                  "method": "POST",
                  "uri": "/SendNotification",
                  "code": 200
              }
          }
      },
      "com.aws#SendNotificationInput": {
          "type": "structure",
          "members": {
              "topic": {
                  "target": "smithy.api#String",
                  "traits": {
                      "smithy.api#required": {}
                  }
              },
              "title": {
                  "target": "smithy.api#String",
                  "traits": {
                      "smithy.api#required": {}
                  }
              },
              "message": {
                  "target": "smithy.api#String",
                  "traits": {
                      "smithy.api#required": {}
                  }
              }
          },
          "traits": {
              "smithy.api#input": {}
          }
      },
      "com.aws#SubscribeToNotifications": {
          "type": "operation",
          "input": {
              "target": "com.aws#SubscribeToNotificationsInput"
          },
          "output": {
              "target": "smithy.api#Unit"
          },
          "traits": {
              "com.aws#async": {
                  "direction": "client_to_server"
              },
              "smithy.api#http": {
                  "method": "POST",
                  "uri": "/SubscribeToNotifications",
                  "code": 200
              }
          }
      },
      "com.aws#SubscribeToNotificationsInput": {
          "type": "structure",
          "members": {
              "topic": {
                  "target": "smithy.api#String",
                  "traits": {
                      "smithy.api#required": {}
                  }
              },
              "foo": {
                  "target": "com.aws#Foo"
              }
          },
          "traits": {
              "smithy.api#input": {}
          }
      },
      "com.aws#async": {
          "type": "structure",
          "members": {
              "direction": {
                  "target": "com.aws#AsyncDirection",
                  "traits": {
                      "smithy.api#documentation": "The direction this operation will be used in, used to inform the generated client and server sdks.",
                      "smithy.api#required": {}
                  }
              }
          },
          "traits": {
              "smithy.api#documentation": "Add this trait to all asynchronous operations",
              "smithy.api#trait": {
                  "selector": "operation"
              }
          }
      },
      "com.aws#connectHandler": {
          "type": "structure",
          "members": {
              "language": {
                  "target": "smithy.api#String",
                  "traits": {
                      "smithy.api#required": {}
                  }
              }
          },
          "traits": {
              "smithy.api#trait": {
                  "selector": "service"
              }
          }
      },
      "com.aws#disconnectHandler": {
          "type": "structure",
          "members": {
              "language": {
                  "target": "smithy.api#String",
                  "traits": {
                      "smithy.api#required": {}
                  }
              }
          },
          "traits": {
              "smithy.api#trait": {
                  "selector": "service"
              }
          }
      },
      "com.aws#handler": {
          "type": "structure",
          "members": {
              "language": {
                  "target": "smithy.api#String",
                  "traits": {
                      "smithy.api#documentation": "The language you will implement the lambda in.\nValid values: typescript, java, python",
                      "smithy.api#required": {}
                  }
              }
          },
          "traits": {
              "smithy.api#documentation": "Add this trait to an operation to generate a lambda handler stub for the operation.\nYou have configured handler projects for typescript",
              "smithy.api#trait": {
                  "selector": "operation"
              }
          }
      },
      "com.aws#websocketJson": {
          "type": "structure",
          "members": {},
          "traits": {
              "smithy.api#documentation": "Add this trait to an asynchronous service",
              "smithy.api#trait": {
                  "selector": "service"
              }
          }
      }
  }
}
